<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>作者信息分析调度系统</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<p>检索结果如下</p>
<!---<div th:unless="${#lists.isEmpty(authors)}">-->
<div>
    <table class="table">
        <caption>作者具体信息</caption>
        <thead>
        <tr>
            <th>姓名</th>
            <th>手机号码</th>
            <th>电话号码</th>
            <th>QQ</th>
            <th>微信</th>
            <th>email</th>
            <th>单位名称</th>
            <th>邮件地址</th>
            <th>邮编</th>
            <th>城市</th>
            <th>省份</th>
        </tr>
        </thead>
        <tbody>
        <tr class="active"  th:each = "author : ${authors}">
            <td><span   th:text="${author.authorName}">姓名</span></td>
            <td><span   th:text="${author.cellNumber}">手机号码</span></td>
            <td><span   th:text="${author.phoneNumber}">电话号码</span></td>
            <td><span   th:text="${author.QQ}">QQ</span></td>
            <td><span   th:text="${author.weChat}">微信</span></td>
            <td><span   th:text="${author.emailAddress}">email地址</span></td>
            <td><span   th:text="${author.organizationName}">单位名称</span></td>
            <td><span   th:text="${author.mailAddress}">邮件地址</span></td>
            <td><span   th:text="${author.zipCode}">邮编</span></td>
            <td><span   th:text="${author.workCityName}">城市</span></td>
            <td><span   th:text="${author.workProvinceName}">省份</span></td>
        </tr>
        </tbody>
    </table>
</div>
    <h3>更新作者信息</h3>
    <form method="POST" th:each = "author : ${authors}">
        <input type="text" name="searchContent" size="50" readonly="readonly" th:value="${searchContent}" style="display:none"/>
        <label for="authorName">姓名</label>
        <input type="text" name="authorName" size="50" readonly="readonly" th:value="${author.authorName}"/><br />
        <label for="cellNumber">手机号码：</label>
        <input type="text" name="cellNumber" size="50"  th:value="${author.cellNumber}" /><br />
        <label for="phoneNumber">电话号码：</label>
        <input type="text" name="phoneNumber" size="50" th:value="${author.phoneNumber}" /><br />
        <label for="QQ">QQ：</label>
        <input type="text" name="QQ" size="50"  th:value="${author.QQ}" /><br />
        <label for="weChat">微信：</label>
        <input type="text" name="weChat" size="50" th:value="${author.weChat}" /><br />
        <label for="emailAddress">email地址：</label>
        <input type="text" name="emailAddress" size="50" th:value="${author.emailAddress}" /><br />
        <label for="organizationName">单位名称：</label>
        <input type="text" name="organizationName" size="50" th:value="${author.organizationName}" /><br />
        <label for="mailAddress">邮件地址：</label>
        <input type="text" name="mailAddress" size="50" th:value="${author.mailAddress}" /><br />
        <label for="zipCode">邮编：</label>
        <input type="text" name="zipCode" size="50" th:value="${author.zipCode}" /><br />
        <label for="workCityName">城市：</label>
        <input type="text" name="workCityName" size="50" th:value="${author.workCityName}" /><br />
        <label for="workProvinceName">省份：</label>
        <input type="text" name="workProvinceName" size="50" th:value="${author.workProvinceName}" /><br />
        <input type="submit" />
    </form>
</div>
<div class="container">
    <a th:href="${'/result/showResultPage?searchContent=' + searchContent}"><button class="btn btn-danger" style="margin:auto">返回</button></a>
</div>
</body>
</html>