.container { width: 1000px; margin: 0 auto; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

body { margin: 0; }

body a, body p, body span { font-size: 14px; line-height: 20px; font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.header ul { padding-left: 0; margin-top: 40px; margin-bottom: 0; float: right; list-style: none; }

.header ul li { float: left; margin-left: 6px; }

.header ul li a { display: block; line-height: 20px; font-size: 14px; text-decoration: none; color: #333; }

.header ul li a:hover { color: #0D6144; }

.main { margin-top: 240px; }

.main .logo { text-align: center; }

.main .search { padding-top: 20px; text-align: center; }

.main .search input { width: 560px; height: 36px; padding: 0 0 0 8px; line-height: 40px; font-size: 18px; outline: none; border: 2px solid #c9c9c9; border-right-width: 0; }

.main .search button { width: 110px; height: 40px; padding: 0 0 0 6px; line-height: 40px; font-size: 20px; border: none; letter-spacing: 6px; background: #0D6144; color: #fff; cursor: pointer; vertical-align: top; }
