<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org"
                   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                   layout:decorator="/layout/default">
<head>
    <title>作者信息分析调度系统</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="aias-header">
            <div class="aias-container clearfix">
                <ul class="clearfix">
                    <li><a href="/">首页</a></li>
                    <li><a href="#">所有作者</a></li>
                    <li><a href="#">作者分类</a></li>
                    <li><a href="#">排行榜</a></li>
                    <li><a href="/login">登录</a></li>
                </ul>
            </div>
        </div>

        <div class="main">
            <div class="logo">
                <img src="/img/logo.png" alt="">
            </div>
            <form class="search"  action="/result/showResultPage" method="GET">
                <input type="text" placeholder="请输入检索内容" name="searchContent"><button type="submit">搜索</button>
            </form>
        </div>
    </div>
</body>

</html>