<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>作者信息分析调度系统</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div th:unless="${#lists.isEmpty(authors)}">
    <table class="table">
        <caption>擅长写作搜索内容相关文章的作者列表及发表文章数目</caption>
        <thead>
        <tr>
            <th>作者</th>
            <th>相关文章数</th>
            <th>文章列表</th>
        </tr>
        </thead>
        <tbody>
        <tr class="active"  th:each = "author : ${authors}">
            <td><a th:href="${'/searchAuthor?authorsName='+ author.authorName}"><span   th:text="${author.authorName}">作者</span></a></td>
            <td><span   th:text="${author.articleNum}">文章数量</span></td>
            <td><a th:href="${'/searchArticle?searchContent='+ author.authorName}"><span   th:text="点击查看">点击查看该作者文章</span></a></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
<div th:if="${#lists.isEmpty(authors)}">
    <h2>没有检索到相关信息</h2>
</div>
</body>
</html>