<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th><a class="sorted" sd:pagination-sort="username" >mainTitle</a></th>
        <th><a class="sorted" sd:pagination-sort="firstName" >authorsName</a></th>
        <th>articleText</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="row : ${page}">
        <th scope="row" th:text="${row.mainTitle}">mainTitle</th>
        <td th:text="${row.authorsName}">authorsName</td>
        <td th:utext="${#strings.replace(row.articleText, T(org.apache.commons.lang3.StringUtils).LF, '&lt;br /&gt;')}">articleText</td>
        <td th:utext="${row.columnName}">columnName</td>
    </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-sm-6">
        <div sd:pagination-summary="">info</div>
    </div>
    Show <span sd:page-size-selector="javascript"></span> entries
    <div class="col-sm-6">
        <nav class="pull-right">
            <ul class="pagination" sd:pagination="full">
                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>